body, html {
    background-color: rgb(49, 104, 156);
    font-family: nobel, sans-serif;
	font-style: normal;
}

#title{
    font-family: sans-serif;
    font-style: normal;
    color:rgb(37, 51, 129);
}

h1 {
    display: flex;
    justify-content: space-between;
    color: rgb(37, 51, 129);
    text-align: center;
    background-color: #ececec;
    border: 10px solid skyblue;
    padding: .5px;
}

#aboutp1 {
    font-family: sans-serif;
    font-style: normal;
    font-size: 30px;
    color:rgb(37, 51, 129);
    background-color: #ececec;
    border: 20px solid skyblue;
    padding: .5px;
    text-align: center;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#animations{
    display: flex;
    justify-content: space-evenly;
}

@keyframes bounce {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(20px);
    }
  }

  #basketball {
    display: block;
    width: 75px;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(-100px);
    /* TODO: Use animation property with 0.5s duration,
       ease-in timing function, no delay, repeats 
       infinitely, and alternates. */
    animation: bounce 0.5s ease-in 0s infinite alternate;
  
  }

  @keyframes throw {
    from {
      transform: translateX(-50px);
    }
    to {
      transform: translateX(20px);
    }
  }

  #football {
    display: block;
    width: 75px;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(-100px);
    /* TODO: Use animation property with 0.5s duration,
       ease-in timing function, no delay, repeats 
       infinitely, and alternates. */
    animation: throw 0.5s ease-in 0s infinite alternate;
  }
